{% extends "main.html" %}
{% block content %}
{% include "banner.html" %}



<head>


</head>
<body>
<div class="inner">
    <h4 style="text-align:center;"> Norton</h4>
    <ul>
        <li>Since January 2017, Norton has had a significant decline in it's number of tweets</li>
        <li>Although not plentiful, the majority of Norton tweets are of a positive sentiment</li>
        <li>Pre tweet decline, Norton had a mixture of positive and negative tweets </li>
    </ul>
    <p>Recommendation: re-evaluate social media marketing/process and reinstate previous operating pattern</p>

    <h4 style="text-align:center;"> McAfee</h4>
    <ul>
        <li>The vast majority of recent tweets have been neutral</li>
        <li>There is usually a significant influx of tweets during major announcements such as the 2017 DFX release</li>
        <li>Most tweets are around new product release and events</li>
    </ul>
    <p>Recommendation: balance quantity and quality with a focus on customer engagement and answering the 'why'</p>

    <h4 style="text-align:center;"> Further Analysis</h4>
    <ul>
        <li>Marry data with financial information to identify correlations between tweeting and profitability</li>
        <li>Uncover more information into Norton tweet pull back</li>
        <li>Collect data on other companies and sectors to identify best practices</li>
    </ul>
</body>

</div>


{% include "footer.html" %}
{% endblock %}