


<div class="container-fluid" style="padding-top:10px">
    <div class="row">
        <div class="col-md-6">Connor J. Foley</div>
        <div class="col-md-6"><span class="pull-right">Data Analyst</span></div>
    </div>
</div>



<div class="navigator">
    <div class="btn-group">
        <a href="{{url_for('home')}}">
            <button type="button" class="btn btn-outline-primary btnCustom">Graph</button>
        </a>
        <a href="{{url_for('development')}}">
            <button type="button" class="btn btn-outline-primary btnCustom">Development</button>
        </a>
        <a href="{{url_for('analysis')}}">
            <button type="button" class="btn btn-outline-primary btnCustom">Flash Analysis</button>
        </a>
    </div>
    <div class="btn-group pull-right">
        <a href="{{url_for('contact')}}">
            <button type="button" class="btn btn-outline-primary btnCustom">Contact</button>
        </a>
    </div>

</div>




